
<div id="editor" [ngClass]="{'showEditor': showEditor()}" #container></div>

<div class="page-content">
    <div class="section-editor-btns">
        
        <button *ngIf="showEditor()" mat-raised-button  (click)="closeEditor()" >Close</button>
        <button *ngIf="showEditor()" mat-raised-button  (click)="closeEditor(); clear()" >Clear And Close</button>
        <button *ngIf="showEditor()" mat-raised-button  class="success" (click)="savetemplate()" [disabled]="!changeHappend" >Save</button>
    </div>
</div>

<!-- <iframe class="preview" [srcdoc]="template" [style.height]="iframe.contentWindow?.document?.body?.scrollHeight + 'px'" #iframe frameborder="0"></iframe> -->
