
<div>
    <app-grapesjs-editor [showEditor]="showEditor" (hideEditor)="closeEditor()" [htmlData]="htmlData" (save)="saveSection($event)"></app-grapesjs-editor>
</div>



<div class="page-container">
  <div class="section-editor-btns">
    <button mat-raised-button (click)="setTemplate()">
      <mat-icon>brush</mat-icon>
      <span>Designer</span>
    </button>
  </div>

    <div class="no-result flex-column" *ngIf="!sections.length">
      <p>No Result</p>
      <p class="add items-center" (click)="setTemplate()">
       Add section <mat-icon>add_circle</mat-icon>
      </p>
    </div>

    <mat-accordion *ngIf="!!sections.length">
        <mat-expansion-panel *ngFor="let section of sections">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{section.title}}
            </mat-panel-title>
            <mat-panel-description>
              <div class="space-between full-width items-center">
                <p>this is the thing</p>
              
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row>
            <mat-icon class="color-black clickable" (click)="setTemplate(section)">edit_square</mat-icon>
            <mat-icon class="color-black clickable" (click)="deleteTemplate(section._id)">delete</mat-icon>
          </mat-action-row>
          <iframe class="preview" [srcdoc]="section.content"  #iframe frameborder="0"></iframe>
        </mat-expansion-panel>
        


    </mat-accordion>
</div>

<div class="modal" [ngClass]="{'open': openModal}">
  <div class="modal-background">
    <form class="modal-container" #sectionForm="ngForm" (ngSubmit)="save()">
      <div class="modal-header">title or somethign</div>
      <div class="modal-content">
        <div class="form-input cool-label" >
          <input type="text" [(ngModel)]="selectedSection.title" #title="ngModel" name="title">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="modal-footer"> 
        <div class="items-center gap-10 content-end">
          <button class="close" (click)="openModal = false">Close</button>
          <button class="okay" mat-button [disabled]="!sectionForm.valid" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>