<div class="card" [ngStyle]="cardStyle()">
    <div class="card-header">
        <div class="image-container">
            <img [ngStyle]="imageStyle()" src="../../../assets/images/default-card-image.png" alt="">
        </div>
    </div>
    <div class="card-content">
        <div class="title">
            <h2>This is the title of the thing</h2>
        </div>

        <div class="desciption">
            <p>
                sthis is the description that descripe the thing that is showing
            </p>
        </div>

        <div class="tags">
            #hoodie#men#tshirt
        </div>
    </div>
    <div class="card-footer">
        <div class="price">
            <b>00.00$</b>
        </div>
    </div>
</div>

