<div class="card-settings-container">
    <mat-tab-group>
        <mat-tab label="Body"> 
            <div class="settigns">
                <div class="settigns-row">
                    <h4>Body</h4>
                    <div class="flex-row">
                        <div class="form-input cool-label" >
                            <label for="">Width</label>
                            <input type="number" class="small-input">
                        </div>
                    </div>
                </div>
               
                <div class="settigns-row">
                    <h4>Border</h4>
                    <div class="flex-row">
                       
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Image"> Image </mat-tab>
        <mat-tab label="Title"> Title </mat-tab>
        <mat-tab label="content"> Content  </mat-tab>
        <mat-tab label="pricing"> pricing </mat-tab>
      </mat-tab-group>

      <div class="preview">
        
      </div>
</div>